version: '3.7'

volumes:
    pgdata:
    s3ninja:

services: 
    postgres:
        image:  postgres:12-alpine
        command: postgres -c log_connections=on -c log_disconnections=on #-c log_statement=all
        restart: always
        env_file: 
            - .env
        volumes:
            - pgdata:/var/lib/postgresql/data
        ports: 
            - "8080:5432"

    api:
        build: .

        depends_on: 
            - tcpdump
            - postgres
        network_mode: "service:tcpdump"
        volumes:
            - type: bind
              source: /leashed/Assets
              target: /Assets

            - type: bind
              source: /leashed/Certificate
              target: /Certificate
        environment: 
            - Kestrel__Certificates__Default__Path=/Certificate/ServerSSL.pfx
            - Kestrel__Certificates__Default__Password=Test123


    tcpdump:
        build:
            context: .
            dockerfile: dockerfile-tcpdump
        volumes:
            - type: bind
              source: /leashed/pcap
              target: /pcap


            
        ports:
            - "5001:5001"
            - "5000:5000"

    s3:
        image: scireum/s3-ninja
        volumes:
            - s3ninja:/home/sirius/data

        ports:
            - 9444:9000

        
        
